<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">


  <style media="screen">

    .countdown-container {
      text-align: right;
      margin-top: 20px;
    }

    .countdown {
      font-size: 36px;
      font-weight: bold;
      color: #333;
    }

    a:link {
      text-decoration: none;
    }
    body {
      margin: 0;
      padding: 0;
      font-family: "Gill Sans", sans-serif;;
    }
    .content {
      background-image: url(background.png) no-repeat;
      background-position: center;
      background-size: cover;
      height: 100vh;
      transition: 0.5s;
    }

  </style>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">


</head>

<body>
  <!--content start-->
  <div class="content">

<div class="jumbotron my-4">

  <a class="btn btn-primary btn-xs" href="/student/student-exam"><span class="glyphicon glyphicon-circle-arrow-left"></span> Ortga qaytish</a>

<div class="countdown-container">
  <div id="countdown" class="countdown"></div>
</div>

<!--<script src="{% static 'js/exam.js' %}"></script>-->


<form class="form" autocomplete="off" onsubmit="return saveAns()" action="{% url 'calculate-marks' %}" method="POST">
  {% csrf_token %}

  <h2 style="text-align: center;">{{ course.course_name }}</h2>
<hr style="height: 2px; border-width: 0; color: gray; background-color: gray">
  {% for q in questions %}
    <h3 class="text-info">{{ forloop.counter }}. {{ q.question | safe }}</h3>
    <h4 style="text-align: right;">[Ball {{ q.marks }}]</h4>

    <div class="form-check mx-4">
      <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="{{ q.variant_A }}" value="variant_A" data-question-id="{{ q.id }}">
      <label class="form-check-label" for="{{ q.variant_A }}">
        {{ q.variant_A | safe }}
      </label>
    </div>

    <div class="form-check mx-4">
      <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="{{ q.variant_B }}" value="variant_B" data-question-id="{{ q.id }}">
      <label class="form-check-label" for="{{ q.variant_B }}">
        {{ q.variant_B | safe }}
      </label>
    </div>

    <div class="form-check mx-4">
      <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="{{ q.variant_C }}" value="variant_C" data-question-id="{{ q.id }}">
      <label class="form-check-label" for="{{ q.variant_C }}">
        {{ q.variant_C | safe }}
      </label>
    </div>

    <div class="form-check mx-4">
      <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="{{ q.variant_D }}" value="variant_D" data-question-id="{{ q.id }}">
      <label class="form-check-label" for="{{ q.variant_D }}">
        {{ q.variant_D | safe }}
      </label>
    </div>
    <hr style="height: 2px; border-width: 0; color: gray; background-color: gray">
  {% endfor %}

  <input class="btn btn-info btn-lg" type="submit" value="Tugatish" onclick="return confirm('Barchasini belgilaganingizga, ishonchingiz komilmi?');">
</form>
</div>
<script>
  var timeLeft = {{ course_time.times }} * 60; // Daqiqalarni sekundlarga aylantirish
  var countdown = document.getElementById('countdown');
  var timer = setInterval(function () {
    var minutes = Math.floor(timeLeft / 60); // Daqiqa hisoblanishi
    var seconds = timeLeft % 60; // Sekundlar hisoblanishi

    var timeString = (minutes < 10 ? '0' : '') + minutes + ':' + (seconds < 10 ? '0' : '') + seconds;
    countdown.innerHTML = timeString;

    timeLeft -= 1;

    if (timeLeft < 0) {
      clearInterval(timer);
      countdown.innerHTML = 'Vaqt tugadi!';

      // Foydalanuvchi javoblarni cookie ga saqlash
      var userAnswers = {};
        var ele = document.querySelectorAll('input[type="radio"]');
        for (i = 0; i < ele.length; i++) {
          if (ele[i].type === "radio" && ele[i].checked) {
            var questionId = ele[i].getAttribute("data-question-id");
            var selectedAnswer = ele[i].value;
            setCookie(questionId, selectedAnswer, 3);

            // userAnswers[questionId] = selectedAnswer;
          }
        }

        // Cookie ga javoblarni yozish
        //document.cookie = "userAnswers=" + JSON.stringify(userAnswers) + ";expires=" + new Date(Date.now() + 3 * 24 * 60 * 60 * 1000).toUTCString() + ";path=/";

        var form = document.querySelector('.form');
        form.submit();
      }
    }, 1000);

  function saveAns() {
    var ele = document.querySelectorAll('input[type="radio"]');
    for (i = 0; i < ele.length; i++) {
        if (ele[i].type === "radio" && ele[i].checked) {
            var questionId = ele[i].getAttribute("data-question-id");
            var selectedAnswer = ele[i].value;
            setCookie(questionId, selectedAnswer, 3);
        }
    }
}

  function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
    var expires = "expires=" + d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }

  document.getElementById("back-button").addEventListener("click", function () {
    window.history.back();
  });

</script>
    {% include "quiz/footer.html" %}
  </div>
  <!--content end-->
</body>

</html>