<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>

  <title></title>
</head>

<body>

  {% include "quiz/navbar.html" %}
  <br><br>
  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px;">Biz haqimizda !</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    <p class="lead font-weight-bold">Biz o'quvchilarga fanlar bo'yicha test bilan shug'ullanishlari uchun platformani taqdim etamiz <br><br> O'qituvchilar esa o'z fanlariga test savollarini kiritishi va o'quvchilarning natijalarini ko'rishi munkin bo'ladi.</p>
    <hr class="my-4">
    <br><br><br>
    <p>Web-platforma orqali bilimingizni oshiring.</p>

    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">Bosh sahifa</a>
    </p>
  </div>
<br><br><br><br><br>
  {% include "quiz/footer.html" %}
</body>

</html>
