{% extends 'quiz/adminbase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<br><br>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
         <a class="btn btn-primary btn-xs custom-margin-left" href="#" id="back-button">
        <span class="glyphicon glyphicon-circle-arrow-left"></span> Ortga qaytish
      </a>
      <h6 class="panel-title">Savollarni ko'rish uchun fanni tanlang</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>

          <th>Fan nomi</th>
          <th>Jami savollar</th>
          <th>Jami ballar</th>
          <th>Savollarga kirish</th>
        </tr>
      </thead>
      {% for c in courses %}
      <tr>

        <td> {{c.course_name}}</td>
        <td>{{c.question_number}}</td>
        <td>{{c.total_marks}}</td>
        <td><a class="btn btn-primary btn-xs" href="{% url 'view-question' c.id  %}"><span class="glyphicon glyphicon-folder-open"></span></a></td>
        
      </tr>
      {% endfor %}
    </table>
  </div>
  <a id="clear-cache-button" class="btn btn-primary btn-xs" href="{% url 'delete-cache-img' %}" onclick="clearCache(); this.style.pointerEvents='none'; this.innerHTML='<strong>Kesh tozalandi!</strong>'; return false;"><span class="glyphicon glyphicon glyphicon-trash"> <strong>Kesh rasmlarni o'chirish</strong></span></a>
</div>

<br><br><br><br><br><br><br><br><br><br>
<script>
function clearCache() {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '{% url "delete-cache-img" %}', true);
    xhr.send();
}
    document.getElementById("back-button").addEventListener("click", function () {
        window.history.back();
    });
</script>
{% endblock content %}