<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}

<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">




</head>

<body>

  {% include "quiz/navbar.html" %}
  <br><br>

  <center>

    <h3 class='alert alert-success'>Bizga qimmatli fikr-mulohazalaringiz yoki shikoyatlaringiz bo'lsa yuboring!</h3>

    <form method="POST" autocomplete="off">
      <!-- Very Important csrf Token -->
      {% csrf_token %}
      <div class="form-group">
      <div class="form-group col-md-6">
        <label for="ism">Ismingizni kiriting</label>
        {% render_field form.Name|attr:'required:true'  class="form-control" placeholder="John" %}
      </div>

      <div class="form-group col-md-6">
        <label for="email">Emailingizni kiriting</label>
        {% render_field form.Email|attr:'required:true'  class="form-control" placeholder="john.smith@gmail.com" %}
      </div>

      <div class="form-group col-md-6">
        <label for="validationTextarea">Xabar matningizni yozing</label>
        {% render_field form.Message|attr:'required:true'  class="form-control" placeholder="Men sizga shuni..." %}
     </div>

        <br>
        <input type="submit" value="Yuborish" class='btn btn-primary btn-lg'>
      </div>
    </form>
  </center>
<br><br><br><br><br><br>
  {% include "quiz/footer.html" %}
</body>

</html>
