<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
  .jumbotron{
    margin-bottom: 0px;
  }
</style>
<body>
  {% include "quiz/navbar.html" %}
<br>
<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h3 class="display-1 text-success ">Assalomu aleykum!</h3>
    <p class="display-4 d-none d-sm-block">Test ishlang va bilimingizni oshirib boring.</p>
    <p class="lead">Turli fanlardan testlar.</p>

    

    <p class="lead">Agar ro'yxatdan o'tmagan bo'lsangiz, ro'yxatdan o'ting va bilimingizni oshirish uchun fanlardan testlar ishlang.</p>
    <p><strong> Ro'lingizni tanlang:</strong></p>
    <a href="/teacher/teacherclick" class="btn btn-lg btn-info" style="padding-right: 35px;"><i class="fa fa-address-card" aria-hidden="true"></i> O'qituvchi</a>
    <a href="/student/studentclick" class="btn btn-lg btn-info" style="padding-right: 35px;"><i class="fa fa-graduation-cap" aria-hidden="true"></i> O'quvchi</a>

    <br><br>
  </div>  
</section>
  {% include "quiz/footer.html" %}


</body>

</html>
