{% extends 'quiz/adminbase.html' %}
{% load widget_tweaks %}
{% block content %}
<head xmlns="http://www.w3.org/1999/html">
<meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</head>
<body>



  <center>
<h3 style="text-align:center;">O'qituvchi ma'lumotlarini yangilash</h3>

  <form method="post"  autocomplete="off" enctype="multipart/form-data" style="margin-left:200px;margin-right:200px;">
      {% csrf_token %}
    <div class="form-group">
        <div class="form-group col-md-6">
            <label for="username">Foydalanuvchi nomi</label>
            {% render_field userForm.username|attr:'required:true'  class="form-control" placeholder="username" %}
        </div>
        <div class="form-group col-md-6">
            <label for="first_name">Ismingiz</label>
            {% render_field userForm.first_name|attr:'required:true'  class="form-control" placeholder="ism" %}
        </div>


        <div class="form-group col-md-6">
           <label for="last_name">Familiya</label>
           {% render_field userForm.last_name|attr:'required:true'  class="form-control" placeholder="familiya" %}
        </div>

      <div class="form-group col-md-6">
        <label for="email">Email</label>
        {% render_field userForm.email|attr:'required:true'  class="form-control" placeholder="email" %}
     </div><br>

      <div class="form-group col-md-6">
        <label for="password">Parol</label>
        {% render_field userForm.password|attr:'required:true'  class="form-control" placeholder="parol" %}
      </div>

      <div class="form-group col-md-6">
        <label for="con_password">Parolni qayta kiriting</label>
        {% render_field userForm.con_password|attr:'required:true'  class="form-control" placeholder="parol" %}
     </div>
     <div class="form-group col-md-6">
        <label for="mobile">Telefon raqam</label>
        {% render_field studentForm.mobile|attr:'required:true'  class="form-control" placeholder="Nomer" %}
     </div>
     <div class="form-group col-md-6">
        <label for="sinf">Sinfni tanlang</label>
        {% render_field studentForm.classes|attr:'required:true'  class="form-control"%}
     </div>
        <br>
        <input type="submit" class="btn btn-primary" value="Yangilash">

      {% if userForm.errors %}
<div class="alert alert-danger mt-3">
    <strong>Xatoliklar (foydalanuvchi):</strong>
    <ul>
        {% for field in userForm %}
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}

    <!-- Display validation errors for studentForm -->
    {% if studentForm.errors %}
    <div class="alert alert-danger mt-3">
        <strong>Xatoliklar (student):</strong>
        <ul>
            {% for field in studentForm %}
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
      </div>
  </form>
 </center>
</body>



{% endblock content %}
